/*----- start emojy component -----*/
.emojy {
  @apply flex items-center  bg-blue-100 dark:bg-slate-200 dark:text-black rounded-md mx-1 p-2;
}
/*----- end emojy component -----*/
/*----- start Loading spinner -----*/
.loading-spinner {
  @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-white dark:bg-gray-900;
}
.loader {
  margin-left: 10px;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
.loader-genre {
  width: 25px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(circle closest-side, #85007e 90%, #380435);
  background: var(--_g) 0 0, var(--_g) 0 100%, var(--_g) 100% 100%;
  background-size: 40% 40%;
  animation: l11 1s infinite linear;
}
@keyframes l11 {
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}
/*----- end Loading spinner -----*/

/*----- start images change -----*/

/*----- end images change -----*/

/*----- start card details page -----*/
.error-message {
  @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
}
.card-details {
  @apply mx-4 p-6 bg-white dark:bg-gray-900 rounded-lg shadow-lg;
}
.path {
  @apply flex font-semibold;
}
.games-link {
  @apply text-blue-400 block mx-1 hover:underline;
}
.game-name {
  @apply text-3xl mb-6 font-bold text-gray-900 dark:text-white mt-4;
}
.game-release {
  @apply text-gray-600 dark:text-gray-300 text-sm mb-4;
}
.game-rate {
  @apply text-gray-600 flex dark:text-gray-300 text-sm mb-4;
}
.stars {
  @apply flex dark:text-gray-200 text-gray-400;
}
.play-time {
  @apply text-gray-600 dark:text-gray-300 text-sm mb-4;
}
.play-time span {
  @apply font-bold text-lg text-black dark:text-white;
}
.genres-game {
  @apply flex flex-wrap gap-2 mb-4;
}
.genres-game span {
  @apply px-3 py-2 bg-blue-500 text-white text-xs rounded-lg;
}
.game-platform {
  @apply flex flex-wrap gap-2 mb-4 pr-6 sm:w-1/2 md:w-3/4;
}
.game-platform span {
  @apply px-3 py-1 bg-gray-700 text-white text-xs rounded-lg;
}
.game-desc {
  @apply text-gray-700 dark:text-gray-300 text-sm pr-6;
}
.show-more {
  @apply text-blue-500 block hover:underline;
}
.back-game-button {
  @apply mt-6 px-6 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-lg;
}
